@charset "UTF-8";
/**********************************************************************************************

	Title:social-impact-circle
	Author: sherry
	Date: 2019/01/20

***********************************************************************************************
		0 Global Reset
		1 body
			1.0 defind
			1.1 wrapper
			1.2 header
			1.3 navigation
			1.4 logo
			1.5 content
			1.6 footer
		2 link
		3 Button
		4 input,select,textarea
		5 user-setting
		6 media query
		
***********************************************************************************************/
/* 0. Global Reset ---------------------------------------------------------------------------*/
/* 1. body -----------------------------------------------------------------------------------*/

body{
    background:#f8f8f8;
    font-family: 'Noto Sans TC', sans-serif;
}
.right{
    float: right;
}
.left{
    float: left;
}
.py-2 img{
    margin-bottom: 30px;
}
/* 1.0 defind */
/* 1.1 wrapper */


/* 1.2 header */
/* 1.3 navigation */
.slide-bar-item-icon{
    margin: 0 16px 0 20px;
}
.overflow_hidden{
    overflow: hidden;
}
#icon-next{
    margin-right: 27px;
    width: 14px;
    height: 21px;
}
.slide-bar-item{
    margin: 16px 0 8px 0 ;
}
.slide-bar-items img{
    width: 22px;
    height: 22px;
}
.slide-bar-items div{

    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}
.slide-bar-items a{
    width: 229px;
}
#slide-bar{
    position: fixed;
    z-index: 1000;
    background: rgba(52, 83, 90, 0.97);
    width: 73.6%;
    height: 100vh;
    overflow: hidden;
}
.nav{
    position: fixed;
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    background: #EEEEEE;
    z-index: 6;
}
.nav + div{
    margin-top: 45px;
}

.nav-title{
    text-align: center;
    margin: auto;
    height: 23px;
    font-style: normal;
    font-weight: bold;
    line-height: 23px;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #585858;
}
/* menu */
.menu img{
    position: absolute;
    width: 27px;
    height: 30px;
    left: 10px;
    top: 7px;
}
.menu div{
    position: absolute;
    width: 33px;
    height: 21px;
    left: 45px;
    top: 9px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.01em;

    color: #585858;
}
/* 1.4 logo */
/* 1.5 content */
.embed-responsive{
    margin-top: 45px;
}

body{
    margin-bottom: 49px;
}
/* 案例詳細資訊 金額 日期 */
.details{
    padding-bottom: 7px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.details-content{
    width: 93.333%;
    margin: auto;
    overflow: hidden;
}

.details-content-title{
    width: 100%;
    margin-top: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.01em;

    color: #000000;
}

.tag{
    margin-top: 14px;
    margin-bottom: 8px;
}
#first-tag{
    margin-left: 0px;
}
.btn-tag{
    margin-left: 12px;

    line-height: 16px;
    height: 24px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #2374E8;

    background: #FFFFFF;
    border: 1px solid #2374E8;
    box-sizing: border-box;
    border-radius: 5px;
}
.money img{
    margin-bottom: 6px;
    width: 25px;
    height: 25px;
}
.now-money{
    margin:  0 0 0 5px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    
    color: #34535A;
}
.all-money{
    margin-left: -6px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
    
    color: #34535A;
}
.progress{
    margin: 6px auto;
    height: 22px;
    background: #EEEEEE;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
}
.progress-bar{
    width: 50%;
    background: #FFA143;
    border-radius: 25px;
}
.progress-bar div{
    float: right;
}

.data-block{
    overflow: hidden;
    margin: 12px 0 6px 0;
}
#first-data-img{
    margin-left: 0px;
}
.data-block img{
    width: 27.351%;
    margin-left: 7%;
}

.join-Amount{
    float: left;
    background-image:url('../images/icon/icon_join_friend_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.join{
    margin-left:17.5%; 
}
.date{
    margin-left:9%;
}
.track{
    margin-left:17.5%;
}
.remain-day{
    float: left;
    margin-left: 9.7%;
    background-image: url('../images/icon/icon_project_reciprocal_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.track-Amount{
    float: right;
    margin-left: 8.6%;
    background-image:url('../images/icon/icon_project_tracking_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.number-text .amount{
    margin-left: 19px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.01em;
    float: left;
    color: #FFA143;
}
.number-text .text{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.01em;
    float: left;
    margin-top: 1px;
}
.number-text .unit{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em; 
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}

.initiate{
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 0.01em;

    color: #585858;

}

/* 案例內容 */
.content{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    margin-top:13px;
    padding-bottom: 80px
}
.case-content{
    width: 93.3333%;
    margin: auto;
    margin-top: 50px;
}
.case-content-paragraph{
    border: 3px solid #2196F3;
}
.case-content-paragraph-person{
    border: 3px solid #FF9800;
}
.case-content-paragraph-tree{
    border: 3px solid #a46810;
}

.case-introduction{
    overflow: hidden;
    margin: 19px 0 0 0 ;
    width:125px;
    float: left;
    height: 34px;
    border-bottom: 2px solid ;
}
.case-introduction .text{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.01em;
    margin-left: 11.65px;
    width: 65px;
    float: left;
}
.case-introduction img{
    width: 26.35px;
    height: 23px;
    float: left;
    margin-left: 10px;
}
.click{
    color: #2374E8;
    border-bottom-color: #2374E8
}
.unclick{
    color: #959595;
    border-bottom-color: #959595;
}

/* 芳名錄 */
.support-list{
    width: 92.5%;
    margin: 18px auto;
}
table{
    width: 100%;
    text-align: center;
}
thead{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    background: #F4F4F4;
    color: #CB463F;
}
tbody{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #585858;
}
tr:nth-child(even){
    background: #F4F4F4;

}
/* 最底下 加入追蹤 立即捐款 兩個按鈕 */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 49px;
    width: 100%;
}
footer button{
    border: none;
    height: 49px;
    width: 100%;
}
footer button img{
    margin: 0px 0 10px 0;
    width: 30px;
    height: 30px;
}
.join-track{
    width: 50%;
    float: left;
}
.join-track button{
    background: #ECECEC;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #34535A;
}
.now-donate{
    width: 50%;
    float: right;
}
.now-donate button{
    background: #CB463F;
    color:  #FFFFFF;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    font-size: 22px;
    letter-spacing: 0.01em;
}

/*monthly collapse--start*/
/* 4. input,select,textarea---------------------------------------------------------------------*/
/* 彈跳視窗 選擇方案 */
.modal {
    text-align: center;
    padding: 0!important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
input{
    width :20px;
    height: 20px;
}
.modal-content{
    background: #3A575D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.modal-header{
    padding-top: 20px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
    border-bottom: 0px solid #e9ecef;
    
}
.modal-body{
    color: #FFFFFF;
}
.modal-body h4{
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
    letter-spacing: 0.01em;
}
.modal-body p{
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.01em;
}
hr{
    width: 85.65%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 1px solid #FFFFFF;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
}
.close{
    position: absolute;
    left: 92.8%;
    top: -10px;
    width: 35px;
    height: 35px;
}
.close img{
    width: 35px;
    height: 35px;
}

.program{
    display: flex;
    align-items: center;
    justify-content:  center;
    margin: 0px auto 24px auto;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}
.program input{
    align-items: center;
    float: left;
    width: 15%
}
.program-text{
    align-items: center;
    width: 60%;
    margin: 18px auto;
    float: left;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-size: 18px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}
.program-text .memo{
    font-style: normal;
    font-weight: normal;
    line-height: 15px;
    font-size: 12px;
    letter-spacing: 0.01em;
    margin: 10px  auto 0 auto;
    color: #FFFFFF;
}
.program-money{
    width: 25%;
    align-items: center;
    float: left;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 14px;
    letter-spacing: 0.01em;

    color: #FFD568;
}
.impact-team{
    margin: auto;
    width: 95%;
}
.impact-team input{
    float: left;
    width: 11%;
    vertical-align: middle;
}
.impact-team label{
    float: left;
    width: 89%;
    font-style: normal;
    font-weight: normal;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}

.modal-title{
    margin: 0px 0 0 0;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.01em;
    
    color: #FFFFFF;
}
.modal-footer{
    display: block;
    overflow: hidden;
    border-top:0px; 
}
.modal-footer button{
    mix-blend-mode: normal;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: bold;
    line-height: 20px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #3A575D;
    background: #FFFFFF;
    border-radius: 5px;

    width: 47.333%;
    height: 32.33px;
}

/* 5. user-setting------------------------------------------------------------------------------*/
/* 6. media query------------------------------------------------------------------------------*/

/* alreadyDonate.html */

.alreadyDonateCase{
    overflow: hidden;
    width: 100%;
    margin: 19px 0 0 0 ;

    background: #FFFFFF;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.alreadyDonateTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92.2%;
    margin: 10px auto 0 auto;
    overflow: hidden;
}
.alreadyDonateTitle img{
    align-items: center;
    vertical-align: middle; 
    width: 14px;
    height: 14px;
}
.alreadyDonateTitle>p{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;
    margin: 0 auto ;
    color: #000000;
    padding-left: 9px;
    width: 95%;
}

.alreadyDonateImg{
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
}


.caseDetail{
    width: 92.2%;
    margin: 10px auto 12px auto;
    overflow: hidden;
}

.img-item{
    width: 33.132%;
    height: 28.51vw;
    border: 3px solid #FF9E4A;
    box-sizing: border-box;
    border-radius: 5px;
}
.caseDetailContent{
    padding-left: 23px;
    width: 66%;
}
.caseDetailContent button{
    background: #CB463F;
    border-radius: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}
.caseDetailContent .second{
    margin-right:9px;
}
.caseDetailContent button img{
    width: 14px;
    height: 14px;
}
.caseDetailContent .buy-text{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #585858;
}
.caseDetailContent .donate-text{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #585858;
}
.caseDetailContent .donate-finish{    
    background: #585858;
    border-radius: 20px;
}
.caseDetailContent .buy-memo{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #CB463F;
}

/* 關於我們頁面 */
.aboutus-content img{
    width: 100%;
}
.aboutus-content h1{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    position: absolute;
    left: 23%;
    margin-top: 20px;
}
#logo{
    width: 54%;
    margin: 23px 22% 0 22%;
}
section{
    width: 86%;
    margin:24px 7% 30px 7%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #000000;
    overflow: hidden;
}
#triangle{
    width: 12px;
    height: 12px;
}
.smallTitle {
    margin-top: 15px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: normal;
    text-align: center;
    letter-spacing: 0.01em;

    color: #3A585F;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
}
.shadow{
    width: 40%;
    margin: 0 auto;
    height: 1px;
    border: 2px solid #3A585F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
.background-orange{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #000000;
    background-color: #FFF1E3;

    border-radius: 10px;

    padding: 12px 3% 9px 3%;
}
.text-bolder{
    font-weight: 700;
}
#icon{
    width: 16px;
    height: 16px;
}
#h1-2line{
    margin-top: 0px;
    font-size: 24px;   
    left: 30%; 
}
.aboutus-button{
    background: #3E5B62;
    border-radius: 10px;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: normal;
    letter-spacing: 0.01em;

    color: #FFFFFF;

    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);

    padding: 3px 13px 3px 13px;
    border:0px;
}
.button-group{
    overflow: hidden;
    padding:20px 5% 0 5%;
}
#triangle2{
    width: 25px;
    height: 25px;
    margin: 0 46%;
}