@charset "UTF-8";
/**********************************************************************************************

	Title:social-impact-circle
	Author: sherry
	Date: 2019/01/20

***********************************************************************************************
		0 Global Reset
		1 body
			1.0 defind
			1.1 wrapper
			1.2 header
			1.3 navigation
			1.4 logo
			1.5 content
			1.6 footer
		2 link
		3 Button
		4 input,select,textarea
		5 user-setting
		6 media query
		
***********************************************************************************************/
/* 0. Global Reset ---------------------------------------------------------------------------*/
/* 1. body -----------------------------------------------------------------------------------*/

body{
    background:#f8f8f8;
    font-family: 'Noto Sans TC', sans-serif;
}

/* 1.0 defind */
/* 1.1 wrapper */


/* 1.2 header */
/* 1.3 navigation */
.nav{
    width: 100%;
    height: 45px;
    left: 0px;
    top: 0px;
    background: #EEEEEE;
}
.nav-title{
    
    position: absolute;
    width: 55px;
    height: 23px;
    left: 160px;
    top: 8px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 18px;
    letter-spacing: 0.01em;

    color: #585858;
}
/* menu */
.menu img{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 10px;
    top: 7px;
}
.menu div{
    position: absolute;
    width: 33px;
    height: 21px;
    left: 40px;
    top: 9px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.01em;

    color: #585858;
}
/* 1.4 logo */
/* 1.5 content */
body{
    margin-bottom: 49px;
}

.details{
    padding-bottom: 7px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
}

.details-content{
    margin:0 3.35% 0 3.35%;
    width: 93.333333%;
    overflow: hidden;
}

.details-content-title{
    width: 100%;
    margin-top: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 25px;
    font-size: 20px;
    letter-spacing: 0.01em;

    color: #000000;
}

.tag{
    margin-top: 19px;
}
#first-tag{
    margin-left: 0px;
}
.btn-tag{
    margin-left: 12px;

    line-height: 16px;
    height: 24px;
    font-size: 16px;
    letter-spacing: 0.01em;
    color: #2374E8;

    background: #FFFFFF;
    border: 1px solid #2374E8;
    box-sizing: border-box;
    border-radius: 5px;
}
.money img{
    margin-bottom: 6px;
    width: 25px;
    height: 25px;
}
.now-money{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 24px;
    letter-spacing: 0.01em;
    
    color: #34535A;
}
.all-money{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    letter-spacing: 0.01em;
    
    color: #34535A;
}
.progress{

    background: #EEEEEE;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 25px;
}
.progress-bar{
    width: 50%;
    background: #FFA143;
    border-radius: 25px;
}
.progress-bar div{
    float: right;
}

.data-block{
    overflow: hidden;
    margin: 6px 0;
}
#first-data-img{
    margin-left: 0px;
}
.data-block img{
    width: 27.351%;
    margin-left: 7%;
}

.join-Amount{
    float: left;
    background-image:url('../images/icon/icon_join_friend_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.join{
    margin-left:17.5%; 
}
.date{
    margin-left:9%;
}
.track{
    margin-left:17.5%;
}
.remain-day{
    float: left;
    margin-left: 9.7%;
    background-image: url('../images/icon/icon_project_reciprocal_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.track-Amount{
    float: right;
    margin-left: 8.6%;
    background-image:url('../images/icon/icon_project_tracking_number.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 26.6%;
    height: 76px;
    padding: 21px 0px 0 0px;
}
.number-text .amount{
    margin-left: 19px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 30px;
    font-size: 26px;
    text-align: center;
    letter-spacing: 0.01em;
    float: left;
    color: #FFA143;
}
.number-text .text{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em;
    float: left;
    margin-top: 1px;
}
.number-text .unit{
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    line-height: 17px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.01em; 
    float: left;
    margin-top: 10px;
    margin-left: 2px;
}

.initiate{
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    font-size: 13px;
    letter-spacing: 0.01em;

    color: #585858;

}

/* 案例內容 */
.content{
    background: #FFFFFF;
    box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
    height: 200px;
    margin-top:13px;
}
.case-introduction{
    overflow: hidden;
    margin: 19px 0 0 0 ;
    width:125px;
    float: left;
    height: 34px;
    border-bottom: 2px solid ;
}
.case-introduction .text{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
    letter-spacing: 0.01em;
    margin-left: 11.65px;
    width: 61px;
    float: left;
}
.case-introduction img{
    width: 26.35px;
    height: 23px;
    float: left;
    margin-left: 10px;
}
.click{
    color: #2374E8;
    border-bottom-color: #2374E8
}
.unclick{
    color: #959595;
    border-bottom-color: #959595;
}

/* 芳名錄 */
.support-list{
    width: 92.5%;
    margin: 18px auto;
}
table{
    width: 100%;
    text-align: center;
}
thead{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;

    color: #CB463F;
}
tbody{
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #585858;
}
/* 最底下 加入追蹤 立即捐款 兩個按鈕 */
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 49px;
    width: 100%;
}
footer button{
    border: none;
    height: 49px;
    width: 100%;
}
footer button img{
    margin: 0px 0 10px 0;
    width: 35px;
    height: 35px;
}
.join-track{
    width: 50%;
    float: left;
}
.join-track button{
    background: #ECECEC;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    font-size: 22px;
    letter-spacing: 0.01em;
    color: #34535A;
}
.now-donate{
    width: 50%;
    float: right;
}
.now-donate button{
    background: #CB463F;
    color:  #FFFFFF;
    font-style: normal;
    font-weight: 500;
    line-height: 49px;
    font-size: 22px;
    letter-spacing: 0.01em;
}

/*monthly collapse--start*/
/* 4. input,select,textarea---------------------------------------------------------------------*/
/* 彈跳視窗 選擇方案 */
.modal-content{
    background: #3A575D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.modal-header{
    padding-top: 0px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 20px;
    letter-spacing: 0.01em;

    color: #FFFFFF;
}
.close{
    position: absolute;
    left: 92.8%;
    top: -10px;
    width: 35px;
    height: 35px;
}
.close img{
    width: 35px;
    height: 35px;
}
/* 5. user-setting------------------------------------------------------------------------------*/
/* 6. media query------------------------------------------------------------------------------*/
